* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f7f8fb;
}

.header {
    height: 80px;
    /* background-color: #4e73df;
    background-image: linear-gradient(180deg, #224abe 10%, #007bff 70%); */
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #000;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    text-decoration: none;
}

.col-md-3 {
    padding: 0;
}
.col-md-9 {
    padding: 0;
}
.list-group {
    margin-right: 30px;
    background-color: #4e73df;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: #fff;
}
.navbarRight {
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar_right-item {
    margin-right: 40px;
    display: flex;
    align-items: center;
    color: #000 !important;
}

.navbar_right-item i {
    font-size: 17px;
    margin-top: 2px;
    margin-right: 8px;
    color: #777;
}
.navbar_right-item span {
    position: relative;
    font-size: 17px;
    display: flex;
    align-items: center;
    max-width: 90px;
    color: #777;
    transition: all 0.2s ease;
    font-weight: 600;
}

.chat_blue {
    background-color: #428bca;
    width: 28px;
    height: 20px;
    text-align: center;
    margin-left: 7px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
.inbox_navy {
    background-color: #5bc0de;
    width: 28px;
    height: 20px;
    text-align: center;
    margin-left: 7px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;

    line-height: 20px;
}
.navbar_right-item a {
    display: flex;
    align-items: center;
}

.navbar_right-item a span:hover {
    color: #000 !important;
    font-weight: 600;
}

.navbar_right-item a span::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: -25px;
}

.list-group-item-action {
}
.main_body {
    position: relative;
}
.card {
    display: block;
}
.card-main {
    margin: 0 auto;
}

.card-main {
    margin-top: 25px;
    padding: 15px 10px;
}
